@charset "utf-8";
/*header*/
header .well {
	background: rgba(0,0,0,.45);
	border: 1px solid #facf05;
}
header .well p {
	color: #b4cc82;
}
.navbar-header .site-title {
	color: #facf05;
}
/*menu*/
.navbar .nav>.active:first-child>a, .navbar .nav>.active:first-child>a:hover, .navbar .nav>.active:first-child>a:focus, .navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
	color: #111;
	background: #facf05;
	text-decoration: none;
}
.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
	background-color: #fff2b4;
	color: #000;
	text-decoration: none;
}
.dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	color: #262626;
	text-decoration: none;
	outline: 0;
	background-color: #fff2b4;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
	text-decoration: none;
	background-color: #fff2b4;
}

/*midCol*/
.midCol_bcg.square {
	background: url(../../img/MidCol/midCol_org.png) top right no-repeat;
}
.upCol1 > .upCol, .col-sm-4 .upCol1 > .box.upCol {
	background-color: #facf05;
}
.upCol1 > .upCol a, .upCol1 > .upCol, .col-sm-4 .upCol1 > .box.upCol, .upCol1 > .box.upCol div.jsScoreDiv {
	color: #525F49!important;
}
.upCol1 > .upCol .jsmatchcont .jsmatchseason, .upCol1 > .upCol .jsmatchdate, .upCol2 > .upCol div.scoreScrMod a, .upCol3 > .upCol div.scoreScrMod a {
	color: #0e522d!important;
}
.upCol2 > .upCol, .col-sm-4 .upCol2 > .box.upCol {
	background-color: #68bb3c;
}
.upCol2 > .upCol a, .upCol2 > .upCol, .col-sm-4 .upCol2 > .box.upCol, .upCol2 > .box.upCol div.jsScoreDiv {
	color: #4b5020!important;
}
.upCol2 > .upCol .jsmatchcont .jsmatchseason, .upCol2 > .upCol .jsmatchdate {
	color: #18370b!important;
}
.upCol3 > .upCol, .col-sm-4 .upCol3 > .box.upCol {
	background-color: #18370b;
}
.upCol3 > .upCol a, .upCol3 > .upCol, .col-sm-4 .upCol3 > .box.upCol, .upCol3 > .box.upCol div.jsScoreDiv {
	color: #ccd6c2!important;
}
.upCol3 > .upCol .jsmatchseason, .upCol3 > .upCol .jsmatchdate {
	color: #e0b900!important;
}
.midMod > .box > h3 {
	color: #18370b!important;
}
.mainWrapper .box .jsm_playerstat a:hover, .mainWrapper .box .jsm_playerstat a:focus, 
.mainWrapper .box .jsm_restable td a:hover, .mainWrapper .box .jsm_restable td a:focus, 
.mainWrapper .box .jsm_nextable  a:hover, .mainWrapper .box .jsm_nextable  a:focus {
	text-decoration: underline;
}
.box span.score_alone a {
	text-decoration: none!important;
}
/*signIn botton*/
.signIn ul > li:last-child a {
	background: linear-gradient(to bottom, #ecca2a, #a59133 90%);
}
.signIn ul > li:last-child a:active {
	background: #a59133;
}
/* left/right Form */
.register form .btn, .midCol > .col-xs-12.col-lg-12 form .btn, 
.rightCol .rightForm form .btn, .input-group button[name="Search"], 
.input-group button[name="Search"]:active, .leftCol .leftForm form .btn {
	background: #4B9428;
	color: #fff;
}
.rightCol .rightForm, .leftCol .leftForm  {
	background-color: #facf05;
	color: #18370b;
}
.rightCol a {
	color: #18370b;
}
.rightCol .rightForm a, .leftCol .leftForm a {
	color: #c54b02;
}
.scroller .jsmatchseason, .scroller .jsmatchdate {
	color: #0e522d!important;
}
.scroller .jsmatchcont .js_div_particName > a, .scroller .jsmatchcont .jsScoreDiv > a, 
.scroller .jsmatchcont table td.jsvalignmdl.jsNoWrap > * {
	color: #7a8235!important;
	border: none;
}
.rightForm .jsmatchcont .js_div_particName > a, .rightForm .jsmatchcont .jsScoreDiv > a,
.leftForm .jsmatchcont .js_div_particName > a, .leftForm .jsmatchcont .jsScoreDiv > a {
	color: #669452;
}
.rightMenu li a, .rightCol > div ul li a, .leftMenu li a, .leftCol > div ul li a {
	color: #18370B;
}
.rightMenu li a:hover, .rightCol > div ul li a:hover, .leftMenu li a:hover, .leftCol > div ul li a:hover  {
	color: #d2926d;
}
.rightBox .heading h3, .rightCol > div .heading h3, .leftBox .heading h3, .leftCol > div .heading h3 {
	color: #fff;
}
.rightCol .rightForm .heading h3, .leftCol .leftForm .heading h3 {
	color: #18370B;
}
.rightCol .heading, .leftCol .heading {
	background: #68bb3c;
}
.rightCol .rightForm > .heading, .leftCol .leftForm > .heading {
	background: #fff;
}
.jsmatchcont .js_div_particName > a:hover, .jsmatchcont .jsScoreDiv > a:hover, 
.jsmatchcont .js_div_particName > a:focus, .jsmatchcont .jsScoreDiv > a:focus {
	text-decoration: underline;
}
/*search*/
.form-control:focus, .form-search input[type="text"]:focus, .form-horizontal input[type="text"]:focus, 
.form-horizontal input[type="name"]:focus, .form-horizontal input[type="username"]:focus,  
.form-horizontal input[type="email"]:focus, .form-horizontal input[type="email1"]:focus, 
.form-horizontal input[type="email2"]:focus, .form-horizontal input[type="password"]:focus, 
.form-horizontal input[type="password1"]:focus, .form-horizontal input[type="password2"]:focus, 
.message > textarea:focus {
	border: 1px solid rgba(191, 164, 67, 0.5);
	box-shadow: 0 0 10px rgba(189, 191, 67, 0.7);
}
.chzn-container .chzn-results li.highlighted {
	background-color: #4B9428;
	background-image: none;
}
/*footer*/
footer .footerBg {
	background: #b4cc82;
}
#to-top a {
	background: url(../../img/To-top/go-top-gy.png) no-repeat 0 0 !important;
}
/*blockquoter*/
.upCol3 > .upCol .table a, .dropcap-var2::first-letter {
	color: #68bb3c;
}
blockquote {
	border-color: #facf05;
}
blockquote.pull-right {
	border-color: #68bb3c;
}
.dropcap-var1::first-letter {
	color: #facf05;
}
/*other*/
.playerST li a, .jsmatchcont .jsmatchdate, .box .table a,  {
	color: #245100;
}
/*Category Blog & Article*/
.blog .item .pull-none .img_caption > p, .blog > .items-leading > .item .pull-left.item-image .img_caption > p, .blog > .items-leading > .item .pull-right.item-image .img_caption > p,
.blog > .items-row.cols-1 > .item .pull-left.item-image .img_caption > p, .blog > .items-row.cols-1 > .item .pull-right.item-image .img_caption > p {
	background: #2a5d15;
}
.blog .item .pull-none > a:hover .img_caption > p, .blog .item .pull-none > a:focus .img_caption > p,
.blog > .items-leading > .item .pull-left.item-image > a:hover .img_caption > p, .blog > .items-leading > .item .pull-left.item-image > a:focus .img_caption > p,
.blog > .items-leading > .item .pull-right.item-image > a:hover .img_caption > p, .blog > .items-leading > .item .pull-right.item-image > a:focus .img_caption > p,
.blog > .items-row.cols-1 > .item .pull-left.item-image > a:hover .img_caption > p, .blog > .items-row.cols-1 > .item .pull-left.item-image > a:focus .img_caption > p,
.blog > .items-row.cols-1 > .item .pull-right.item-image > a:hover .img_caption > p, .blog > .items-row.cols-1 > .item .pull-right.item-image > a:focus .img_caption > p {
	color: #facf05;
}
/*Sticky*/
.sticky .entry-title:before {
	color: #68bb3c;
}
@media (max-width: 990px) {
	.upCol1 > .upCol {
		background: #facf05;
	}
	.upCol3 > .upCol {
		background: #18370b;
	}
	.upCol2 > .upCol {
		background: #68bb3c;
	}
}
@media (max-width: 768px) {
	.navbar .nav>.active:first-child>a, .navbar .nav>.active:first-child>a:hover, .navbar .nav>.active:first-child>a:focus { 
		background: #facf05;
	}
}